@model CitySummaryViewModel

<div class="form-group">
    <div class="input-group">
        <h5>
            @Html.DisplayNameFor(_ => _.Counts)
            @Html.DisplayFor(_ => _.Counts)
        </h5>
    </div>
    <div class="input-group">
        <h5>
            @Html.DisplayNameFor(_ => _.Price)
            @Html.DisplayFor(_ => _.Price)
        </h5>
    </div>
 </div>