@model MovieGenreViewModel

<div class="form-group">
    <div class="input-group">
        <h5>
            @Html.DisplayNameFor(_ => _.Price)
            @Html.TextBoxFor(_ => _.Price)
        </h5>
    </div>
</div>