@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Movie App!</h1>


<form asp-controller="Movies" asp-action="Home" method="get">
</form>

<script>
    $(function () {
           $('#updateComponent').on("click", function(){
               alert($('#price').val());
              $("#divCitySummary").load('/Home/UpdateComponent?price=' + $('#price').val());
            });
        });
</script>

<div class="card-columns">
    @foreach (var item in Model.Movies)
    {

        <div class="card">
            <div class="card-img" style="background-image: url('https://m.media-amazon.com/images/M/MV5BMmZiMjdlN2UtYzdiZS00YjgxLTgyZGMtYzE4ZGU5NTlkNjhhXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UX1000_.jpg');"></div>
            <div class="card-body">

                <h5>
                    @Html.DisplayFor(modelItem => item.Title)
                </h5>
                <p>@Html.DisplayFor(modelItem => item.Price)</p>

            </div>
        </div>
    }
</div>

<div class="form-group">
    <div class="input-group">
        <div>
            <input type="text" id="price" value="0.0" class="text-end" />
            <input type="button" id="updateComponent" value="updateComponent" class="btn btn-dark" />
        </div>
    </div>
</div>

<div id="divCitySummary"></div>
